* {
  font-family: 'RF Dewi Expanded', sans-serif;
  color: #2A60FA;
}

a:hover {
  color: #FF3942;
}

span.underline {
  color:#2a60fa 
}

span.underline:hover {
  color: #FF3942;
}

.block-content {
  color:#FF3942
}

